:root {
    background-color: darken(white, 90);
    color: silver;
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: 100px;

    margin: 20px auto;
    max-width: 1200px;

    gap: 10px;

    &__item {
        min-height: 200px;
        background-color: rgba(white, 0.2);
    }
}